<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Metroly Ui</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../metroly-ui.css" media="screen">

  <!-- Sources CSS  -->
  <link rel="stylesheet" href="../src/css/side-nav.css" media="screen">
</head>
<body>


  <div class='side-nav'>
    <div class="side-nav-wrapper">
      <p class="side-nav-header">Recent</p>
      <ul class="side-nav-group">
        <li class="side-nav-single">B1</li>
        <li class="side-nav-single">B23</li>
        <li class="side-nav-single">Bx78</li>
      </ul>
    </div>
    <div class="side-nav-wrapper">
      <p class="side-nav-header">Favorite</p>
      <ul class="side-nav-group">
        <li class="side-nav-single line-red">B1</li>
        <li class="side-nav-single line-red">B23</li>
        <li class="side-nav-single line-blue">Bx78</li>
        <li class="side-nav-single line-red">B1</li>
        <li class="side-nav-single line-blue">B23</li>
      </ul>
    </div>
    <div class="side-nav-wrapper">
      <p class="side-nav-header">All</p>
      <ul class="side-nav-group">
        <li class="side-nav-single">B1</li>
        <li class="side-nav-single">B23</li>
        <li class="side-nav-single">Bx78</li>
        <li class="side-nav-single">B1</li>
        <li class="side-nav-single">B23</li>
        <li class="side-nav-single">Bx78</li>
        <li class="side-nav-single">B1</li>
        <li class="side-nav-single">B23</li>
        <li class="side-nav-single">Bx78</li>
      </ul>
  </div>
  </div>


  <section class="page" id="page1">
    <header class="header-fixed">
      <h1>Metroly</h1>
      <button class='nav-toggle' data-target-nav='#menu'>Toggle Nav</button>
      <button class='side-nav-toggle'>Toggle Side Nav</button>

      <nav id="menu" class='nav-items'>
        <ul>
          <li><a href="#item1">Item 1</a></li>
          <li><a href="#item2">Item 2</a></li>
          <li><a href="#item3">Item 3</a></li>
        </ul>
      </nav>
    </header>

<!--     <header class="header">
      <h1>Metroly</h1>
      <button class='nav-toggle' data-target-nav='#menu'>Toggle Nav</button>
      <button class='side-nav-toggle'>Toggle Side Nav</button>

      <nav id="menu" class='nav-items'>
        <ul>
          <li><a href="#item1">Item 1</a></li>
          <li><a href="#item2">Item 2</a></li>
          <li><a href="#item3">Item 3</a></li>
        </ul>
      </nav>
    </header> -->

    <div class="row">
      <a id='pg-nav' href="page2">Go to pg 2</a>
    </div>

  


    <div class="row top-fix">
      <p>Yo, am I hidden like on bootstrap?</p>
    </div>

    <div class="row">
      <p>This is a row? longggggg</p>
    </div>


    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>
    <div class="row">
      <p>This is a row?</p>
    </div>


    <div class="row bottom-fix">
      <p>Yo, am i hidden?</p>
    </div>

    <footer class="footer-fixed">
      Metroly. &copy; 2013.
    </footer>
  </section>

<!--   <section class="page" id="page2">
    <h1>Hello pg 2</h1>
  </section>


  <section class="page" id="page2">
    <h1>Hello pg 3</h1>
  </section>
 -->

  <script src="../metroly-ui.js"></script>

  <!-- Sources JS  -->
  <script src="../src/js/side-nav.js"></script>

</body>
</html>